.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.chart {
  margin: 1rem;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
